<%- include('./partials/header.ejs') %>
    <div class ="col-sm-8" style=" padding-top: 80px; padding-left: 300px;">
            <h3 style="font-family: cursive;">
                About Us
            </h3>
            <p style="font-family: sans-serif; font-size: 20px;">
                This is the Mobile world. This is a mobile trading platform. 
                People can trade various types of mobile phones. 
                People can go to the trade page to see which mobile phones are available for trade.
        </p>
    </div>

<%- include('./partials/footer.ejs') %>
