
<%- include('./partials/header.ejs') %>

    <div class ="col-sm-8" style=" padding-top: 80px; padding-left: 300px;">
            <h3 style="font-family: cursive;"> Contact </h3> 
            <p>Can visit at our office during office hours. 
                <br>
            <h9>Location:</h9>
            <br>
            Western union, 8830 Hunter Road, Charlotte, NC- 28222
            <br>
            <h9>Hours</h9>
            <br>
            10:00 am to 5:00 pm EST
            <br>
            Monday to Friday by Appointment
            <br>
         For appointment call us at- (984)3997-0000
         <br>
        </p>
        <p>
            Can Email the query at mtrade@gmail.com
        </p>
    </div>
<%- include('./partials/footer.ejs') %>