
<%- include('./partials/header.ejs') %>

    <div class ="col-sm-8" style=" padding-top: 80px; padding-left: 300px;font-family: cursive;">
            <h3 style="font-family: cursive;"> Contact Us</h3> 
            <h5 style ="font-weight: bold; margin-top: 30px;margin-bottom: 2px;">Location</h5>
            <p style="margin-top: 0px;margin-bottom: 2px;">
            Western Union<br> 8830 Hunter Road<br>Charlotte, NC-28222
            </p>
            <h5 style ="font-weight: bold;margin-top: 30px;margin-bottom: 2px;">Office Hours</h5>
            <p style="margin-top: 0px;margin-bottom: 2px;">
            10:00 am to 5:00 pm EST
            Monday to Friday by Appointment
            </p>
            <p style="margin-top: 0px;margin-bottom: 2px;">
            For appointment call us at- (984)3997-0000
            </p>
            <p style="margin-top: 0px;margin-bottom: 2px;">
            Can Email the query at mtrade@gmail.com
            </p>
    </div>
<%- include('./partials/footer.ejs') %>