<%- include('./partials/header.ejs') %>

      <div class="col-sm-8" style=" padding-top: 80px;padding-left: 80px;">
        <h2 style="font-family: cursive;">Welcome to the Mobile Trading Community</h2>
        <p style="font-family: sans-serif; font-size: 20px;">This is a community where people trade mobile phones.</p>
      </div>
      <div class="col-sm-4" style=" padding-top: 80px;padding-left: 50px;">
        <img src="/images/mobiles_image.jpg" alt="Mobiles">
      </div>

 <%- include('./partials/footer.ejs') %>